body {
  background-color: thistle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

#scoreLink {
  color: mediumpurple;
  cursor: pointer;
  text-decoration: underline;
}

.secondLeft {
  float: right;
}

main {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 1rem;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: mediumpurple;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 5px 3px 3px grey;
  cursor: pointer;
}

/* Styling input box in Done Page */
#text-input {
  border-radius: 5px;
  height: 1.5rem;
  background-image: linear-gradient(to right, mediumpurple, thistle);
  font-weight: bold;
  border: transparent;
}

#submit-button {
  margin-left: 1rem;
}

button:hover {
  background-color: mediumorchid;
}

button:active {
  background-color: blueviolet;
}

#form-container {
  display: none;
}

#highscoresContainer {
  display: flex;
  flex-direction: column;
}

/* Styling for each score on Highscore Page */
.styledScore {
  padding-left: 5px;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, mediumpurple, thistle);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
